<mat-card>
<mat-card-header>
  <mat-card-title>{{quote.author}}</mat-card-title>
  <mat-card-subtitle>{{quote.submittor}}</mat-card-subtitle>
</mat-card-header>

<mat-card-content>
<p>{{quote.theQuote}}</p>
</mat-card-content>
<mat-card-actions>
<button mat-flat-button color="primary" (click)='increaseVote(true)'>upvote</button>

<button mat-flat-button color="accent" (click)='increaseVote(false)'>downvote</button>

</mat-card-actions>
<div class="row">
<p class="col-md-6">{{quote.upVote}}</p>
<p class="col-md-3">{{quote.downVote}}</p>
<div class="col-md-3"></div>
</div>
<button mat-flat-button color="warn" (click)= 'deleteQuote(true)'>Delete Quote</button>
</mat-card>