<mat-card>
<mat-card-header></mat-card-header>
<mat-card-title>{{quote.quote}}</mat-card-title>
<mat-card-subtitle>{{quote.submittor}}</mat-card-subtitle>
<p>{{quote.theQuote}}</p>

<mat-card-action>
<button mat-flat-button color="primary" (click)='increaseVote(true)'>upvote</button>
<p>{{quote.upVote}}</p>
<button mat-flat-button color="accent" (click)='increaseVote(false)'>downvote</button>
<p>{{quote.downVote}}</p>
<button mat-flat-button color="warn" (click)= 'deleteQuote(true)'>Delete Quote</button>
</mat-card-action>
</mat-card>