<mat-card>
  <mat-card-content>
     <h2>New Quote</h2>
    <form (ngSubmit)='addNewQuote(author.value, submittor.value, theQuote.value)' #quoteForm = 'ngForm'>
      <div class="form-group">
        <section>
          <mat-form-field>
            <input matInput #author id="author" class="formControl" [(ngModel)]='newQuote.author' name="author" placeholder="Author" required>
          </mat-form-field>
          <!-- <p>display {{newQuote.author}}</p> testing whether quotes input works-->
        </section>
      </div>
      <div class="form-group">
        <section>
          <mat-form-field>
            <input matInput #submittor id="submittor" class="formControl" [(ngModel)]='newQuote.submittor' name="submittor" placeholder="Submitted by:" >
          </mat-form-field>
          <!-- <p>display {{newQuote.submittor}}</p> -->
        </section>
      </div>
      <div class="form-group">
        <section>  
          <mat-form-field>
            <input matInput #theQuote id="theQuote" class="formControl" [(ngModel)]='newQuote.theQuote' name="theQuote" placeholder="Quote" >
          </mat-form-field>
          <!-- <p>display {{newQuote.quote}}</p> -->
        </section>
      </div>
      <div class="form-group">
        <section>
          <mat-form-field>
            <mat-select placeholder="Category" >
              <mat-option value='Motivational'>Motivational</mat-option>
              <mat-option value='Romantic'>Romantic</mat-option>
              <mat-option value='Funny'>Funny</mat-option>
            </mat-select> 
          </mat-form-field>
        </section>
      </div>
      <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </form>
  </mat-card-content>
</mat-card>